# Conexión a MongoDB Atlas
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/
MONGO_DB=turismo_loja

# YouTube Data API v3 — https://console.cloud.google.com/
# Habilita "YouTube Data API v3" y crea una API Key (Credentials → Create API Key)
YOUTUBE_API_KEY=
